.PostsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  min-height: 270px;
}

.PerPageLabel {
  font-size: 18px;
}

.PerPage {
  min-width: 100px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 5px 7px;
  background-color: transparent;
  border: 1px solid #000000;

  &:focus {
    outline: none;
  }
}

.PostItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #000000;
}

.PostItemMeta {
  margin-right: 20px;
}
